.detail .wrap {
}

.product {
    display: flex;
    gap: 76px;
}

.product .slide_container {
    position: relative;
}

.product .slide {
    width: 580px;
    height: 580px;
    background-color: #ddd;
}

.product .slide .item {
    width: 580px;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .slide_container .arrows {
    position: absolute;
    bottom: 60px;
    right: 30px;
    display: flex;
    gap: 16px;
}

.slide_container .arrows i {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
}


.impose {
    width: 524px;
}
.impose .titles h3{
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0 56px;
}
.impose .titles p{

}
.impose .size .size_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.impose .size .size_title h3 {
    font-weight: bold;
}
.impose .size .size_title p {
    font-size: 14px;
    text-decoration: underline;
}


.impose .size .size_container {
    width: 524px;
    margin: 28px 0;
}
.impose .size ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.impose .size ul li {
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #111;
    cursor: pointer;
}

.impose .size ul li:hover {
    background-color: #eee;
}

.impose .btn {
    width: 100%;
}

/* .section 1 */
.detail .s1 {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.detail .s1 .textbox {
    padding: 90px 0 226px;
}
.detail .s1 .textbox h3{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 70px;
}
.detail .s1 .textbox p { 
    width: 380px;
}

.detail .s1 .item {
    display: flex;
    gap: 30px;
}
.detail .s1 .item a{
    width: 380px;
    height: 560px;
    display: flex;
    background-color: #111;
}


/* section 2 */
.detail .s2 .section_items .item .thumb{
    width: 280px;
    height: 280px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
}
.detail .s2 .section_items .item .titles{
    padding: 20px 0;
}
.detail .s2 .section_items .item .titles h4 {
    font-weight: bold;
}
.detail .s2 .section_items .item .titles p{
    font-size: 14px;
    padding: 10px 0;
}

@media (max-width: 768px) { 

}